= link_to new_project_translation_entry_path(parent_entry_id: @translation_entry.id, key_type: 'key'), remote: true, data: {toggle: 'modal', target: "#myModal"} do
  .btn.btn-primary.padder-v-lg.text-uppercase
    Add