.panel-body.no-border.file-list{ :style => "padding-top: 0" }
  .row.two-button
    .col-xs-3.bg-blue.text-center
      - if @translation_entry && @translation_entry.parent_entry#TODO: fix it
        = link_to project_translation_entry_path(id: @translation_entry.parent_entry), remote: true do
          %span.glyphicon.glyphicon-chevron-left
    .col-xs-9
      .dropdown.grey-dropdown.file-search
        %button#dropdownMenu1.btn.btn-grey.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}
          Dropdown
          %span.caret
        %ul.dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
          %li{:role => "presentation"}
            %form{:role => "search"}
              .form-group
                %input.form-control{:placeholder => "Search", :type => "text"}/
          %li{:role => "presentation"}
            %a{:href => "#", :role => "menuitem", :tabindex => "-1"} File 1
          %li{:role => "presentation"}
            %a{:href => "#", :role => "menuitem", :tabindex => "-1"} File 2
          %li{:role => "presentation"}
            %a{:href => "#", :role => "menuitem", :tabindex => "-1"} File 3

.panel-body.no-padding.no-border.file-list
  %ul.list-group.no-border.file-list
    - @translation_entries.each do |translation_entry|
      %li.list-group-item.no-border{class: cycle('even', 'odd')}
        %i.fa.text-blue.marg-right-sm{class: translation_entry.block? ? 'fa-folder' : 'fa-file-text-o'}
        %span
          - if translation_entry.key?
            = link_to translation_entry.key, project_translation_entry_translations_path(translation_entry_id: translation_entry), remote: true
          - else
            = link_to translation_entry.key, project_translation_entry_path(id: translation_entry), remote: true