#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  - @translation_keys.each_with_index do |translation_key, index|
    = render partial: 'translation_entry_accordion', locals: {translation_key: translation_key, index: index}