= simple_form_for([:project, @project_language], :remote => true) do |f|
  = f.error_notification

  .form-inputs
    = f.select :language_id, options_for_select(Language.where.not(id: @project.project_languages.select(:language_id)).map{|l| [l.name, l.id]})
    = f.submit '+Add', :class => 'btn btn-primary btn-xs'
