.row
  .col-lg-12
    %h1 Projects
- @current_user_projects.in_groups_of(3, false).each do |group|
  .row
    - group.each do |project|
      .col-lg-4
        .panel.panel-default
          .panel-heading
          .panel-body
            = render partial: 'project', locals: {project: project}
          .panel-footer
.row
  =link_to 'New Project', new_project_path
