.row
  .col-lg-12
    %h1.text-center.marg-bot-xl
      Projects
      =link_to new_project_path, remote: true, data: {toggle: 'modal', target: '#myModal'}, :class => 'btn btn-default' do
        Add new
        %i.fa.fa-plus
- @current_user_projects.in_groups_of(3, false).each do |group|
  .flex-container
    - group.each do |project|
      .flex-item.project-panel
        %h3.text-center.font-semibold
          = link_to project.name, project_translation_entries_path(project)
        %h5.text-left.marg-bot-xl
          = project.description
        .panel-body
          .row
            .col-xs-12.text-center.text-black
              API key
              = project.session_api_key.access_token
        .panel-footer
          = render partial: 'project', locals: {project: project}


