.row
  .col-lg-12
    %h1 Projects
.row
  .col-lg-4
    .panel.panel-default
      .panel-heading
      .panel-body
        - @projects.each do |project|
          = link_to project.name, project_translation_entries_path(project)
      .panel-footer
.row
  =link_to 'New Project', new_project_path
