.row
  .col-lg-12
    %h1 Projects
- @projects.in_groups_of(3, false).each do |group|
  .row
    - group.each do |project|
      .col-lg-4
        .panel.panel-default
          .panel-heading
          .panel-body
            = link_to project.name, project_translation_entries_path(project)
          .panel-footer
.row
  =link_to 'New Project', new_project_path
