@import "bourbon";

.marg-top {margin-top: 10px !important;}
.marg-top-sm {margin-top: 5px !important;}
.marg-top-lg {margin-top: 20px !important;}
.marg-top-xl {margin-top: 30px !important;}
.marg-top-n {margin-top: 0 !important;}

.marg-bot {margin-bottom: 10px !important;}
.marg-bot-sm {margin-bottom: 5px !important;}
.marg-bot-lg {margin-bottom: 20px !important;}
.marg-bot-xl {margin-bottom: 30px !important;}
.marg-bot-n {margin-bottom: 0 !important;}

.marg-left {margin-left: 10px !important;}
.marg-left-sm {margin-left: 5px !important;}
.marg-left-lg {margin-left: 20px !important;}
.marg-left-xl {margin-left: 30px !important;}
.marg-left-n {margin-left: 0 !important;}

.marg-right {margin-right: 10px !important;}
.marg-right-sm {margin-right: 5px !important;}
.marg-right-lg {margin-right: 20px !important;}
.marg-right-xl {margin-right: 30px !important;}
.marg-right-n {margin-right: 0 !important;}

.marg-none {margin: 0 !important;}
.marg-v-none {margin-top: 0 !important; margin-bottom: 0 !important}