@import "bourbon";

html, body { font-size: 100%; font-family: 'Open Sans'!important }

// commons

$color-blue: #3498DB;

.bg-grey { background-color: #424242; }
.bg-grey-light {background-color: lighten( #424242, 50%)}
.bg-black { background-color: #363636 !important; }
.bg-blue { background-color: $color-blue !important; color: #fff;}
.no-border-radius { border-radius: 0 !important; }
.padder-v-lg { padding-right: 40px !important; padding-left: 40px !important;}
.padder-v {padding: 0 15px !important;}
.no-padding-panel {margin: -15px;}
.no-padding {padding: 0 !important;}
.no-border {border: none !important;}
.font-bold  {font-weight: bold;}
.font-semibold {font-weight: 600;}
.inline {display: inline-block;}
.text-blue {color: $color-blue;}
.text-black {color: #000 !important;}
.text-white {color: #fff !important;}
.tooltip-inner, .popover-content {word-break: break-word}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: white;
  padding: 0;
  width: 30%;
  height: auto;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  text-align: center
}
// buttons

.btn-grey { @extend .btn-default; border-radius: 0 !important; background-color: lighten( #363636, 20%); color: #fff !important; position: relative;
  .caret {position: absolute; right: 10px; top: 50%; color: $color-blue;}
}

.btn-grey.dropdown-toggle {padding-right: 100px; width: 100%; text-align: left; }
.grey-dropdown > .dropdown-menu {width: 100%; background-color: #363636;
  a {color: #fff;}
}

.two-button {display: table;
  [class^="col-"] {display: table-cell; float: none; padding: 0}
}

.dropdown-toggle {
  i {position: absolute; right: 10px;}
}

// NAVBAR

nav.navbar {
  border-radius: 0;
}

// File lisT

.file-list { background-color: #EFEFEF;
  .even {background-color: #EFEFEF;}
  .odd {background-color: lighten(#EFEFEF, 10%)}
}

.file-search {
  .dropdown-menu {left: -34%; width: 134%}
  .form-group {padding: 10px}
}

// translation list

#accordion {
  .breadcrumbs-container {padding: 10px 0;
    select {display: inline-block; width: auto; @include appearance(none); border: none; color: $color-blue; cursor: pointer; font-weight: 700}
  }

  .translation-container {
    .row {display: table}
    [class^="col-"] {display: table-cell; float: none; vertical-align: middle;}
    .col-xs-8 {font-size: 13px;}
  }
  .translation-container:nth-child(1) {border-bottom: 1px solid #e3e3e3}

  .editable-container,
  .editable-container .form-group,
  .editable-input,
  .editable-input .form-control {
    width: 100% !important;
  }
  .editable-buttons { display: block !important; margin-top: 20px;}
  .editable-cancel {color: white;}

  .collapse-link {
    &::before { content: "\f077"; font-family: FontAwesome;}
    &.collapsed::before {content:  "\f078";}
  }
}



// HOME PAGE

.flex-item.project-panel {
  position: relative; padding-bottom: 50px; border: 1px solid #cccccc; color: black;
  h3 {

    a {color: black;}
    i {font-size: 14px;}
  }
  h5 {padding: 0 15px;}
  .popover-content {font-size: 14px;}
  .panel-body {border-top: 1px solid #cccccc; padding-top: 10px; padding-bottom: 0;}
  .panel-footer { position: absolute; width: 100%; left: 0; bottom: 0; padding: 0 15px; color: white;
    a {color: white;}
    .col-xs-4 {padding: 10px 0;}
    .bg-danger {background: lighten(red, 20%)}
    .bg-success {background: lighten(#5cb85c, 20%)}
  }
}

// MEDIA QUERIES

@media all and (max-width: 800px) {
  .flex-container {flex-direction: column;}
  .flex-item{width: 100%}
}

