%h1 Users

= link_to 'Invite user', new_project_user_path

%table
  %thead
    %tr
      %th Email
      %th Projects

  %tbody
    - @project_users.each do |project_user|
      %tr
        %td= project_user.user.email
        %td= project_user.user.projects.all.map(&:name).join(',')
